<% if resource.errors.any? %>
  <div class="alert alert-danger" data-turbo-temporary>
    <strong>Revise os campos destacados:</strong>
    <ul class="mb-0 mt-2">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
